In [1]:
# References
# https://www.twilio.com/blog/2017/02/an-easy-way-to-read-and-write-to-a-google-spreadsheet-in-python.html

In [1]:
# Dependencies
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd
import numpy as np

In [2]:
# Interact with Google Drive API
scope = ['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive']
creds = ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope)
client = gspread.authorize(creds)

In [3]:
# See all worksheets
all_sheets = client.open('Wardrobe Tracking')
list_sheets = all_sheets.worksheets()
print(list_sheets)

[<Worksheet 'Tops' id:0>, <Worksheet 'Outerwear' id:1224580649>, <Worksheet 'Bottoms' id:611649355>, <Worksheet 'Dresses' id:1069008450>, <Worksheet 'Shoes' id:869863122>, <Worksheet '2020 Changes' id:12959625>, <Worksheet '2019 Changes' id:684059692>, <Worksheet '30 Wears' id:81161752>]

In [4]:
# Access and store data from sheet named tops
tops = client.open('Wardrobe Tracking').sheet1
tops_df = pd.DataFrame(tops.get_all_records())

# Remove unnecessary columns 
del tops_df['Total Wears']
del tops_df['Wears/Month']
del tops_df['CPW']
del tops_df['Today']
del tops_df['Start Date']

# Standardize columns, column names, and data types 
tops_df = tops_df.rename(columns={'Sub-Category': 'Subcategory - Sleeves'})
tops_df['Subcategory - Length'] = np.nan
tops_df['Cost'] = tops_df['Cost'].str.replace('$', '')
tops_df['Repairs/Tailoring'] = tops_df['Repairs/Tailoring'].str.replace('$', '')

# View dataframe
tops_df.head()

,Wardrobe Tracking - Start Date 12/9/2018,Wears (11/2020),Wears (10/2020),Wears (9/2020),Wears (8/2020),Wears (7/2020),Wears (6/2020),Wears (5/2020),Wears (4/2020),Wears (3/2020),...,Wears (2018),Acquired,Cost,Source,Notes,Repairs/Tailoring,Category,Subcategory - Sleeves,Color,Subcategory - Length
0,Brian's White Buttonup LS Shirt,,2,1,2,,,,,,...,,8/9/20,0,Brian,Secondhand,,shirt,long sleeve,cream/white/tan,NaN
1,Cream Turtleneck LS Shirt,,1,1,,,STORAGE,1,1,,...,,12/19/18,4,Goodwill,Secondhand,,shirt,long sleeve,cream/white/tan,NaN
2,Tie Dye Mineo LS Shirt,,1,,,,,,2,,...,,2/15/2020,35,Andy Mineo,Winter Jam,,shirt,long sleeve,multi,NaN
3,Forest Green Silk LS Shirt,,2,,,,,1,,,...,,10/18/2019,23,Vince/Poshmark,Secondhand,,shirt,long sleeve,green,NaN
4,Grey Heather LS Shirt,,1,,1,1,,2,1,1,...,,1/1/2018,15,Old Navy,,,shirt,long sleeve,grey,NaN

In [5]:
# Access and store data from sheet named tops
outerwear = client.open('Wardrobe Tracking').worksheet('Outerwear')
outerwear_df = pd.DataFrame(outerwear.get_all_records())

# Remove unnecessary columns 
del outerwear_df['Total Wears']
del outerwear_df['Wears/Month']
del outerwear_df['CPW']
del outerwear_df['Today']
del outerwear_df['Start Date']

# Standardize columns, column names and data types 
outerwear_df = outerwear_df.rename(columns={'Sub-Category': 'Subcategory - Sleeves', 
                                            'Wears 10/2020': 'Wears (10/2020)',
                                           'Wears 9/2020': 'Wears (9/2020)'})
outerwear_df['Subcategory - Length'] = np.nan
outerwear_df['Cost'] = outerwear_df['Cost'].str.replace('$', '')
outerwear_df['Repairs/Tailoring'] = outerwear_df['Repairs/Tailoring'].str.replace('$', '')

# View dataframe
outerwear_df.head()

,Wardrobe Tracking - Start Date 12/9/2018,Wears (11/2020),Wears (10/2020),Wears (9/2020),Wears (8/2020),Wears (7/2020),Wears (6/2020),Wears (5/2020),Wears (4/2020),Wears (3/2020),...,Wears (1/2019),Wears (2018),Acquired,Cost,Source,Notes,Repairs/Tailoring,Category,Subcategory - Sleeves,Subcategory - Length
0,Blue Pullover Sweater,,,,,,,,1,,...,,,12/1/2017,0,Brian,Hand-me-down,,sweater,long sleeve,NaN
1,Beige Cable Knit Sweater,,2,,,,,,,,...,,,10/22/2020,10,Plato's Closet,Secondhand,,sweater,long sleeve,NaN
2,Cream Knit Crop Sweater,1,3,1,,,,,,,...,1,,12/1/2014,10,Nordstrom Rack,,,sweater,long sleeve,NaN
3,Purple and Orange Mockneck Sweater,,5,,,,,,,,...,,,10/22/2020,10,Plato's Closet,Secondhand,,sweater,long sleeve,NaN
4,Cream Cardigan,,,1,,,,2,2,4,...,,,11/28/2019,39,Synergy Organic,Slow Fashion,,cardigan,long sleeve,NaN

In [6]:
# Access and store data from sheet named tops
bottoms = client.open('Wardrobe Tracking').worksheet('Bottoms')
bottoms_df = pd.DataFrame(bottoms.get_all_records())

# Remove unnecessary columns 
del bottoms_df['Total Wears']
del bottoms_df['Wears/Month']
del bottoms_df['CPW']
del bottoms_df['Today']
del bottoms_df['Date Started']

# Standardize columns, column names and data types 
bottoms_df = bottoms_df.rename(columns={'Sub-Category': 'Subcategory - Length', 
                                            'Wears 10/2020': 'Wears (10/2020)',
                                           'Wears 9/2020': 'Wears (9/2020)'})
bottoms_df['Subcategory - Sleeves'] = np.nan
bottoms_df['Cost'] = bottoms_df['Cost'].str.replace('$', '')
bottoms_df['Repairs/Tailoring'] = bottoms_df['Repairs/Tailoring'].str.replace('$', '')

# View dataframe
bottoms_df.head()

,Wardrobe Tracking - Start Date 12/9/2018,Wears (11/2020),Wears (10/2020),Wears (9/2020),Wears (8/2020),Wears (7/2020),Wears (6/2020),Wears (5/2020),Wears (4/2020),Wears (3/2020),...,Wears (1/2019),Wears (2018),Acquired,Cost,Source,Notes,Repairs/Tailoring,Category,Subcategory - Length,Subcategory - Sleeves
0,Curator Rust CL Skirt,,,3,,1,1,3,1,1,...,,,7/18/2019,75,Instagram/Curator SF,Secondhand,7,Skirt,calf-length maxi,NaN
1,Black Midi CL Circle Skirt,,,,,,,,1,3,...,,,11/12/2019,0,Elegantees ($50),Gift,,skirt,calf-length maxi,NaN
2,Grey FL Maxi Skirt,,1,1,,,,,2,,...,,,1/1/2014,30,Nordstrom Rack,,,skirt,full-length maxi,NaN
3,Pink and Tan Pattern Maxi Skirt,,,,2,,,,,1,...,,,7/1/2018,0,Gift,Gift,,skirt,full-length maxi,NaN
4,Light Black Skinny Leg Jeans,,1,,,,3,7,2,12,...,,,1/29/20,140,Madewell,New,,jeans,skinny leg,NaN

In [7]:
# Access and store data from sheet named tops
dresses = client.open('Wardrobe Tracking').worksheet('Dresses')
dresses_df = pd.DataFrame(dresses.get_all_records())

# Remove unnecessary columns
del dresses_df['Total Wears']
del dresses_df['Wears/Month']
del dresses_df['CPW']
del dresses_df['Today']
del dresses_df['Date Started']

# Standardize columns, column names and data types
dresses_df = dresses_df.rename(columns={'Dress Sleeve Length': 'Subcategory - Sleeves', 
                                        'Dress Length': 'Subcategory - Length',
                                       'Wears 10/2020': 'Wears (10/2020)'})
dresses_df['Cost'] = dresses_df['Cost'].str.replace('$', '')
dresses_df['Repairs/Tailoring'] = dresses_df['Repairs/Tailoring'].str.replace('$', '')

# View dataframe
dresses_df.head()

,Wardrobe Tracking - Start Date 12/9/2018,Wears (11/2020),Wears (10/2020),Wears (9/2020),Wears (8/2020),Wears (7/2020),Wears (6/2020),Wears (5/2020),Wears (4/2020),Wears (3/2020),...,Wears (2018),Acquired,Cost,Source,Notes,Repairs/Tailoring,,Category,Subcategory - Length,Subcategory - Sleeves
0,Blue and Yellow Jumpsuit,,1,1,3,,1,,,,...,,6/26/2020,95,Matter Prints,Slow Fashion,,,jumpsuit,full length,sleeveless
1,White Slip SL KL Dress,,,1,1,,1,1,1,,...,,9/10/2019,44,Eileen Fisher,Slow Fashion,,,dress,knee length,sleeveless
2,Blue and White Polka Dot SL KL Dress,,,,,1,,,1,,...,,8/1/2018,0,Mom,Hand-me-down,,FL = Full Length,dress,knee length,sleeveless
3,"Multicolor (orange, white, blue) SL KL Dress",,,,1,,,,1,,...,,2/1/2018,25,SteinMart,,,,dress,knee length,sleeveless
4,Black High-low SL KL Dress,,,,1,,,1,1,3,...,,10/6/2019,0,Mom,Hand-me-down,,,dress,knee length,sleeveless

In [8]:
# Access and store data from sheet named tops
shoes = client.open('Wardrobe Tracking').worksheet('Shoes')
shoes_df = pd.DataFrame(shoes.get_all_records())

# Remove unnecessary columns
del shoes_df['Total Wears']
del shoes_df['Wears/Month']
del shoes_df['CPW']
del shoes_df['Today']
del shoes_df['Date Started']

# Standardize columns, column names and data types
shoes_df = shoes_df.rename(columns={'Repairs': 'Repairs/Tailoring', 'Wears 10/2020': 'Wears (10/2020)'})
shoes_df['Subcategory - Sleeves'] = np.nan
shoes_df['Subcategory - Length'] = np.nan
shoes_df['Cost'] = shoes_df['Cost'].str.replace('$', '')
shoes_df['Repairs/Tailoring'] = shoes_df['Repairs/Tailoring'].str.replace('$', '')

# View datafram
shoes_df.head()

,Wardrobe Tracking - Start Date 12/9/2018,Wears (11/2020),Wears (10/2020),Wears (9/2020),Wears (8/2020),Wears (7/2020),Wears (6/2020),Wears (5/2020),Wears (4/2020),Wears (3/2020),...,Wears (1/2019),Wears (2018),Acquired,Cost,Source,Notes,Repairs/Tailoring,Category,Subcategory - Sleeves,Subcategory - Length
0,Black Leather Open-Toed Sandals,,1,,2,7,1,,,,...,,,10/5/2019,18,Nordstrom Rack,,,sandals,NaN,NaN
1,Brown Leather Trevi Flats,,,1,3,1,1,5,,3,...,,,3/21/2020,108,Crupon,Slow Fashion,,flats,NaN,NaN
2,Black Leather Iris Loafers,,,1,3,2,2,2,6,6,...,,,3/21/2020,94,Crupon,Slow Fashion,,flats,NaN,NaN
3,Blue Leather Sneakers,,2,3,4,1,3,,1,1,...,,,10/9/2019,105,Vivobarefoot/Online,Slow Fashion,,sneakers,NaN,NaN
4,White Tennis Sneakers,,1,1,3,5,1,12,3,9,...,,,2/17/2020,120,Vivobarefoot/Online,Slow Fashion,,sneakers,NaN,NaN

In [9]:
# Combine dataframes to create master dataframe 
wardrobe_df = pd.concat([tops_df, bottoms_df, outerwear_df, shoes_df], ignore_index=True)

# Rename first column
wardrobe_df = wardrobe_df.rename(columns={'Wardrobe Tracking - Start Date 12/9/2018': 'Item'})

# Drop empty rows
wardrobe_df = wardrobe_df.fillna(np.nan)
wardrobe_df.dropna(subset = ['Item'])

# Create id number for each clothing item
#wardrobe_df.reset_index().rename(columns={'index': 'ID'})

wardrobe_df

,Item,Wears (11/2020),Wears (10/2020),Wears (9/2020),Wears (8/2020),Wears (7/2020),Wears (6/2020),Wears (5/2020),Wears (4/2020),Wears (3/2020),...,Wears (2018),Acquired,Cost,Source,Notes,Repairs/Tailoring,Category,Subcategory - Sleeves,Color,Subcategory - Length
0,Brian's White Buttonup LS Shirt,,2,1,2,,,,,,...,,8/9/20,0,Brian,Secondhand,,shirt,long sleeve,cream/white/tan,NaN
1,Cream Turtleneck LS Shirt,,1,1,,,STORAGE,1,1,,...,,12/19/18,4,Goodwill,Secondhand,,shirt,long sleeve,cream/white/tan,NaN
2,Tie Dye Mineo LS Shirt,,1,,,,,,2,,...,,2/15/2020,35,Andy Mineo,Winter Jam,,shirt,long sleeve,multi,NaN
3,Forest Green Silk LS Shirt,,2,,,,,1,,,...,,10/18/2019,23,Vince/Poshmark,Secondhand,,shirt,long sleeve,green,NaN
4,Grey Heather LS Shirt,,1,,1,1,,2,1,1,...,,1/1/2018,15,Old Navy,,,shirt,long sleeve,grey,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Black Suede Knee High Boots,,,,,,,,,,...,,1/1/2014,80,Sears,,,boots,NaN,NaN,NaN
129,Black Leather Sandals,,,,,,,,,,...,4,5/1/2018,50,Rack Room/DSW,,,sandals,NaN,NaN,NaN
130,Brown Clarks Flipflops,,,,,,,,1,,...,,1/1/2013,50,Clarks,,,sandals,NaN,NaN,NaN
131,New Balance Sneakers,,,,,,,,,,...,,1/1/2018,50,New Balance,,,sneakers,NaN,NaN,NaN
132,Vibrams Toe Shoes,,,,,1,,,,,...,,12/9/2018,50,Online,,,sneakers,NaN,NaN,NaN

In [10]:
# Pull list of column names and check for correct concatenation
list(wardrobe_df.columns)

['Item',
 'Wears (11/2020)',
 'Wears (10/2020)',
 'Wears (9/2020)',
 'Wears (8/2020)',
 'Wears (7/2020)',
 'Wears (6/2020)',
 'Wears (5/2020)',
 'Wears (4/2020)',
 'Wears (3/2020)',
 'Wears (2/2020)',
 'Wears (1/2020)',
 'Wears (12/2019)',
 'Wears (11/2019)',
 'Wears (10/2019)',
 'Wears (9/2019)',
 'Wears (8/2019)',
 'Wears (7/2019)',
 'Wears (6/2019)',
 'Wears (5/2019)',
 'Wears (4/2019)',
 'Wears (3/2019)',
 'Wears (2/2019)',
 'Wears (1/2019)',
 'Wears (2018)',
 'Acquired',
 'Cost',
 'Source',
 'Notes',
 'Repairs/Tailoring',
 'Category',
 'Subcategory - Sleeves',
 'Color',
 'Subcategory - Length']